.advantages {
  position: relative;

  .advantages__block-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }
}

.advantages__item-block-wrapper {
  background: #eeeeee;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.advantages::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 57px;
  left: 0;
  right: 0;
  top: -57px;
  margin: auto;
  background-image: url("../img/intro-triangle.svg");
  background-position: center;
}

.advantages__welcome {
  position: relative;
  padding: 18px 20px 16px;

  @media (min-width: 768px) {
    width: 520px;
    margin: 0 auto;
    padding-bottom: 32px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 21px;
  }
}

.advantages__welcome::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 38px;
  left: 0;
  right: 0;
  bottom: -38px;
  margin: auto;
  background: #ffffff;
  clip-path: polygon(50% 38%, 0 0, 100% 0);

  @media (min-width: 768px) {
    display: none;
  }
}

.advantages__image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.advantages__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 16px 12px 6px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 21px;
    padding: 31px 0 0 0;
  }

  @media (min-width: 1200px) {
    font-size: 21px;
    padding: 42px 6px 0 0;
  }
}

.advantages__title--advantages {
  padding: 1px 0 12px;

  @media (min-width: 768px) {
    padding: 16px 31px;
  }

  @media (min-width: 1200px) {
    padding: 16px 110px;
  }
}

.advantages__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  padding: 29px 1px 23px;
  margin: 0;
}

.advantages__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.advantages__item-color {
  background: #81b3d2;
  padding: 30px 18px 28px 16px;

  .advantages__title,
  .advantages__text,
  .advantages__number {
    color: #ffffff;
    margin: 0;
    padding-bottom: 10px;

    @media (min-width: 768px) {
      padding-bottom: 13px;
    }
  }

  .advantages__text--item,
  .advantages__title--revers,
  .advantages__text--revers {
    padding-top: 10px;
  }

  @media (min-width: 768px) {
    .advantages__title--revers {
      padding: 13px 37px 14px 35px;
    }
  }

  @media (min-width: 1200px) {
    .advantages__title--revers {
      padding: 21px 108px 14px;
    }
  }

  @media (min-width: 768px) {
    .advantages__text--revers {
      padding: 9px 32px 9px 34px;
    }
  }

  @media (min-width: 1200px) {
    .advantages__text--revers {
      padding: 9px 70px;
    }
  }

  @media (min-width: 1200px) {
    .advantages__text--item {
      padding: 10px 40px;
    }
  }
}

@media (min-width: 768px) {
  .advantages__title--city {
    padding: 10px;
  }
}

@media (min-width: 1200px) {
  .advantages__title--city {
    padding: 18px 75px;
  }
}

.advantages__item-color--revers {
  padding-bottom: 22px;
}

.advantages__list {
  list-style-type: none;
  margin: 0 0 35px;
  padding: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    min-height: 330px;
    box-sizing: border-box;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .advantages__wrapper-block {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .advantages__item-color--revers {
      order: 2;
    }
  }
}

.advantages__item--house,
.advantages__item--burger,
.advantages__item--gift {
  position: relative;

  .advantages__text,
  .advantages__title {
    text-align: left;
    margin: 0;
    padding: 0 0 11px 0;

    @media (min-width: 768px) {
      text-align: center;
    }
  }
}

.advantages__icon {
  @media (max-width: 767px) {
    position: absolute;
    width: 39px;
    height: 37px;
    left: 19px;
    margin-top: -7px;
  }
}

.advantages__icon-gift {
  position: absolute;
  width: 39px;
  height: 37px;
  top: 0;
  right: 0;
  left: -32px;
  margin-top: 37px;
  background-image: url("../img/m-icon-gift.svg");
  background-repeat: no-repeat;
  background-position: left;

  @media (min-width: 768px) {
    display: none;
  }
}

.advantages__item--house {
  padding: 33px 35px 10px 65px;

  @media (min-width: 768px) {
    padding: 14px 36px 0;
  }

  @media (min-width: 768px) {
    .advantages__title--house {
      padding-top: 25px;
    }

    .advantages__text--house {
      padding-top: 14px;
    }
  }

  @media (min-width: 1200px) {
    .advantages__title--house {
      padding-top: 30px;
    }

    .advantages__text--house {
      padding: 14px;
    }
  }
}

.advantages__item--burger {
  padding: 15px 10px 10px 70px;

  @media (min-width: 768px) {
    padding: 14px 36px 0;
  }

  @media (min-width: 768px) {
    .advantages__title--burger {
      padding-top: 28px;
    }

    .advantages__text--burger {
      padding: 14px;
    }
  }

  @media (min-width: 1200px) {
    .advantages__text--burger {
      padding: 14px 25px;
    }
  }
}

.advantages__item--gift {
  padding: 15px 60px 8px 62px;

  @media (min-width: 768px) {
    padding: 14px 30px 26px;
  }

  @media (min-width: 768px) {
    .advantages__title--gift {
      padding-top: 25px;
    }

    .advantages__text--gift {
      padding-top: 14px;
    }
  }

  @media (min-width: 1200px) {
    .advantages__text--gift {
      padding: 14px 72px;
    }
  }
}

.advantages__item {
  box-sizing: border-box;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media (min-width: 1200px) {
    text-align: center;
    padding: 4px 33px 11px 31px;
  }
}

.advantages__item-advantages {
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  padding: 26px 18px 3px;

  .advantages__text--advantages {
    padding: 17px 1px 17px 1px;

    @media (min-width: 768px) {
      padding: 20px;
    }
  }

  @media (max-width: 767px) {
    width: 78%;
    border-bottom: 1px solid #d6d6d6;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    min-height: 227px;
  }

  @media (min-width: 768px) {
    .advantages__text--road {
      padding: 20px 40px;
    }
  }

  @media (min-width: 1200px) {
    min-height: 228px;

    .advantages__text--road {
      padding: 20px 45px;
    }
  }
}

.advantages__item-advantages--tourists {
  @media (max-width: 767px) {
    border-bottom: none;
  }
}
