.advantages {
  position: relative;

  .advatages__block-wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
    }
  }
}

@media (min-width: 768px) {
  .advantages__item-block-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.advantages::after {
  position: absolute;
  content: "";
  width: 320px;
  height: 57px;
  left: 0;
  right: 0;
  top: -78px;
  margin: auto;
  background-image: url("./img/group.svg");
}

.advantages__welcome {
  position: relative;
  padding: 0 20px;

  @media (min-width: 768px) {
    width: 520px;
    margin: 0 auto;
  }
}

.advantages__welcome::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 37px;
  left: 0;
  right: 0;
  top: 168px;
  bottom: 0;
  margin: auto;
  background-image: url("./img/white-copy.svg");
}

.advantages__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.advantages__number {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.advantages__item-color {
  background: #81b3d2;
  padding: 54px 22px 40px 16px;

  .advantages__title,
  .advantages__text,
  .advantages__number {
    color: #ffffff;
  }
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .advantage__wrapper-block {
    display: grid;
    grid-template-columns: 2fr 1fr;

    .advantages__item-color--revers {
      order: 2;
    }
  }
}

.advantages__item--house,
.advantages__item--burger,
.advantages__item--gift {
  position: relative;
  width: 240px;

  .advantages__title,
  .advantages__text {
    text-align: left;
  }
}

.advantages__icon-house {
  position: absolute;
  width: 39px;
  height: 37px;
  top: 0;
  right: 0;
  left: -32px;
  margin-top: 37px;
  background-image: url("./img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.advantages__icon-burger {
  position: absolute;
  width: 39px;
  height: 37px;
  top: 0;
  right: 0;
  left: -32px;
  margin-top: 37px;
  background-image: url("./img/icon-burger.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.advantages__icon-gift {
  position: absolute;
  width: 39px;
  height: 37px;
  top: 0;
  right: 0;
  left: -32px;
  margin-top: 37px;
  background-image: url("./img/icon-gift.svg");
  background-repeat: no-repeat;
  background-position: left;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 23px 15px;

  @media (min-width: 768px) {
    align-items: center;
  }
}

.advantages__item-advantages {
  background-color: #eeeeee;
  padding: 26px 18px;
}
