.form-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none; //вкл.выкл
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.form-modal--fixed {
  display: none; //вкл.выкл
}

.form-modal__groop {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 46px 42px 35px 41px;
  margin: 36% auto;
  min-width: 320px;
  min-height: 280px;
  background: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  box-sizing: border-box;
  width: 320px;
}

.form-modal__groop--error {
  padding: 46px 42px 35px 41px;
  margin: 116px auto;

  @media (min-width: 768px) {
    margin: 283px auto;
    padding: 46px 42px 49px 41px;
    width: 400px;
  }

  @media (min-width: 1200px) {
    margin: 244px auto;
  }
}

.form-modal__groop--fixed {
  padding: 18px 20px 0;
  margin: 402px auto;

  @media (min-width: 768px) {
    padding: 20px 42px 0;
    margin: 162px auto;
    width: 640px;
  }

  @media (min-width: 768px) {
    margin: 145px auto;
  }
}

.form-modal__groop-title {
  min-width: 237px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 40px;
    padding: 0;
  }
}

.form-modal__groop-title--error {
  @media (min-width: 768px) {
    padding: 0 35px 0;
  }

  @media (min-width: 1200px) {
    padding: 0 45px 0;
  }
}

.form-modal__groop-title--fixed {
  padding: 24px 0 0;
}

.form-modal__groop-text {
  min-width: 237px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  padding: 24px 0 0;
}

.form-modal__groop-text--fixed {
  @media (min-width: 768px) {
    padding: 24px 75px 0;
  }

  @media (min-width: 1200px) {
    padding: 27px 70px 0;
  }
}

.form-modal__groop-fixed-wallpaper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 98px;
  box-sizing: border-box;
  background: #f2f2f2;
  margin-top: 51px;

  @media (min-width: 768px) {
    min-width: 640px;
    min-height: 147px;
  }
}

.form-modal__groop-button {
  text-decoration: none;
  background: #81b3d2;
  border: none;
  color: #ffffff;
  box-sizing: border-box;
  padding: 18px 64px 14px 63px;
  width: 180px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 29px;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.form-modal__groop-button--error {
  @media (min-width: 768px) {
    padding: 18px 146px 14px 126px;
    margin: 47px 0 0;
  }
}

.form-modal__groop-button--fixed {
  min-width: 280px;
  margin: 0;

  @media (min-width: 768px) {
    padding: 18px 24px 14px;
    min-width: 458px;
  }
}
