.main-header {
  min-height: 56px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.main-header__logo,
.main-header__logo-image {
  width: 185px;
  position: absolute;
  margin: 0 auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
