.interested {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 17px 32px;
  margin: 0 auto;

  @media (min-width: 1200px) {
    padding-top: 56px;
  }

  @media (min-width: 1200px) {
    padding-top: 54px;
  }
}

.interested__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 17px 0 20px 0;

  @media (min-width: 768px) {
    font-size: 30px;
    padding: 33px 0 0;
  }

  @media (min-width: 1200px) {
    padding: 3px;
  }
}

.interested__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  min-width: 261px;
  color: #333333;
  margin: 0;
  padding-bottom: 32px;

  @media (min-width: 768px) {
    padding: 32px 145px 42px;
  }

  @media (min-width: 1200px) {
    padding: 31px 340px 47px;
  }
}

.interested__link {
  text-decoration: none;
  background: #81b3d2;
  color: #ffffff;
  padding: 16px 49px;
  width: 186px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 17px;

  &:hover {
    background: #669ec0;
  }

  &:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background: #e5e5e5;
    color: #ffffff;
  }

  @media (min-width: 768px) {
    margin: 0;
    padding: 15px 136px 17px 136px;
  }
}
