.main-nav {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.main-nav__button {
  position: absolute;
  left: 120px;
  right: auto;
  margin: auto 0;
  border: none;
  background-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }
}

//Выпадающее меню

.main-nav__wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  //display: none;
}

.main-nav__list {
  position: absolute;
  top: -43px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 223px;
  list-style-type: none;
  padding: 0;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @media (min-width: 768px) {
    position: static;
    flex-direction: row;
    min-height: 56px;
    margin: 0;
    filter: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "a b . c d";
  }
}

.main-nav__list-item {
  &--1 {
    @media (min-width: 768px) {
      grid-area: a;
    }
  }

  &--2 {
    @media (min-width: 768px) {
      grid-area: b;
    }
  }

  &--3 {
    @media (min-width: 768px) {
      grid-area: c;
    }
  }

  &--4 {
    @media (min-width: 768px) {
      grid-area: d;
    }
  }
}

.main-nav__list-item-link {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  padding: 17px 80px 12px;
  color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  background: #81b3d2;
  box-sizing: border-box;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    padding: 17px 5px;
    color: #000000;
    border-top: none;
    background: none;
  }
}//Выпадающее меню конец
