.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__link-sedona {
  text-decoration: none;
  width: 166px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 35px;
  margin-top: 38px;
}

.page-footer__social {
  width: 166px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  .social__link {
    display: inline-block;
    padding: 12px;
    background: #81B3D2;
  }
}

.page-footer__academy {
  width: 166px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.page-footer__title {
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
