.page-footer__maps-city {
  border: none;
  display: block;
  width: 100%;
  background-image: url("../img/map-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 350px;

  @media (min-width: 768px) {
    background-image: url("../img/map-tablet.png");
  }

  @media (min-width: 1200px) {
    background-image: url("../img/map-desktop.png");
  }
}

.page-footer {
  @media (min-width: 768px) {
    padding-top: 26px;
  }

  @media (min-width: 1200px) {
    padding-top: 34px;
  }
}

.page-footer--form {
  @media (min-width: 1200px) {
    padding-top: 25px;
  }
}

.page-footer__block-wrapper--index {
  @media (max-width: 320px) {
    padding-top: 23px;
  }
}

.page-footer__block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 120px;
    padding: 0 45px;
  }

  @media (min-width: 1200px) {
    padding: 0 104px;
  }
}

.page-footer__link-sedona {
  text-decoration: none;
  width: 166px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 35px;
  margin-top: 14px;

  @media (min-width: 768px) {
    margin-top: 36px;
  }
}

.page-footer__link-sedona--name {
  @media (min-width: 768px) {
    margin-top: 36px;
  }
}

.page-footer__list-social {
  width: 166px;
  display: flex;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 34px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 7px;
    gap: 6px;
  }
}

.page-footer__social-link {
  display: block;
  width: 24px;
  height: 24px;
  padding: 12px;
  background: #81b3d2;
  color: #ffffff;

  &:hover {
    background: #669ec0;
    color: #ffffff;
  }

  &:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

.page-footer__academy {
  width: 166px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    width: 156px;
    gap: 0;
  }
}

.page-footer__svg-academy {
  vertical-align: middle;

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.page-footer__link-academy {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

  @media (min-width: 768px) {
    padding-left: 13px;
    padding-top: 6px;
  }

  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}
