
.page-container {
  margin: 0 auto;
  background: #ffffff;
  padding: 0;
  min-width: 320px;
  max-width: 1200px;
  box-sizing: border-box;
  overflow: hidden;

  @media (min-width: 1200px) {
    box-shadow: 0 5px 15px rgb(0 1 1 / 20%);
  }
}

.page-container-catalog {
  @media (min-width: 768px) {
    padding: 0 60px;
  }

  @media (min-width: 1200px) {
    padding: 0;
  }
}
