.page-footer__block-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 120px;
  }

  @media (min-width: 1200px) {
    padding: 0 104px 0 104px;
  }
}

.page-footer__link-sedona {
  text-decoration: none;
  width: 166px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 35px;
  margin-top: 38px;
}

.page-footer__list-social {
  width: 166px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.page-footer__social-link {
  display: block;
  width: 24px;
  height: 24px;
  padding: 12px;
  background: #81b3d2;
}

.page-footer__academy {
  width: 166px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.page-footer__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
