.page-catalog__review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 158px;
  background: url("../img/back.jpg") no-repeat bottom;
  background-size: cover;
  background-color: #5f3205;

  @media (max-width: 767px) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/back@2.jpg");
    }
  }

  @media (min-width: 768px) {
    background: url("../img/back-tablet.jpg") no-repeat bottom;
    background-size: cover;
    min-height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/back-tablet@2.jpg");
      background-size: cover;
    }
  }

  @media (min-width: 1200px) {
    background: url("../img/back-desktop.jpg") no-repeat bottom;
    background-size: cover;
    min-height: 301px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/back-desktop@2.jpg");
      background-size: cover;
    }
  }
}

.page-catalog__img-sedona {
  @media (min-width: 768px) {
    padding: 0 0 17px 4px;
  }
}

.page-footer__block-wrapper--catalog {
  padding: 9px 0 0;

  @media (min-width: 768px) {
    padding: 9px 45px 0;
  }

  @media (min-width: 1200px) {
    padding: 41px 105px 0;
  }
}

.page-catalog__foto-video {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;

  @media (max-width: 767px) {
    border-bottom: 1px solid #e5e5e5;
  }
}

.page-catalog__foto-video::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 57px;
  left: 0;
  right: 0;
  top: -56px;
  margin: auto;
  background-image: url("../img/intro-triangle.svg");
  background-position: center;
}

.page-catalog__foto-video-title,
.page-catalog__doubts-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 30px;
  }
}

.page-catalog__foto-video-title {
  padding: 39px 0 0;

  @media (min-width: 768px) {
    padding: 66px 0 0;
  }

  @media (min-width: 1200px) {
    padding: 100px 0 0;
  }
}

.page-catalog__doubts-title {
  padding: 18px 0 0;

  @media (min-width: 768px) {
    padding: 56px 0 0;
  }

  @media (min-width: 1200px) {
    padding: 61px 0 0;
  }
}

.page-catalog__foto-video-text,
.page-catalog__doubts-text {
  width: 280px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}

@media (min-width: 768px) {
  .page-catalog__doubts-text {
    width: 445px;
  }
}

.page-catalog__doubts-text {
  padding: 27px 0 0;
  width: 266px;

  @media (min-width: 768px) {
    width: 445px;
  }

  @media (min-width: 1200px) {
    padding: 30px 0 0;
  }
}

.page-catalog__foto-video-text {
  padding: 24px 0 35px;

  @media (min-width: 768px) {
    padding: 32px 0 61px;
    width: 435px;
  }
}

.page-catalog__gallery,
.page-catalog__doubts,
.page-catalog__doubts-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .page-catalog__gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: normal;
    margin: 0 auto;
    min-width: 648px;
  }
}

.page-catalog__doubts-container {
  padding: 37px 0 0;

  @media (min-width: 768px) {
    padding: 93px 0 0;
  }

  @media (min-width: 1200px) {
    padding: 90px 0 0;
  }
}

@media (min-width: 768px) {
  .page-catalog__product-block-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f2f2f2;
    padding: 23px 0 18px;
  }

  .page-catalog__product-block-wrapper--color {
    background: #eaeaea;
  }
}

.page-catalog__product-block-wrapper--big-card {
  @media (min-width: 768px) {
    padding: 21px 0 15px;
  }
}

@media (min-width: 1200px) {
  .page-catalog__product-block-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 21px 0 18px;
  }
}

.page-catalog__product {
  position: relative;
  margin-top: 25px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 21px;

  @media (min-width: 768px) {
    margin-top: 19px;
  }

  &--big-card {
    @media (min-width: 768px) {
      width: 100%;
      border-bottom: none;
      padding: 0;
    }

    @media (min-width: 1200px) {
      margin-top: 26px;
    }
  }

  &--card {
    @media (min-width: 768px) {
      width: 50%;
      border-bottom: none;
      padding: 0;
      margin: 0;
    }

    @media (min-width: 1200px) {
      width: 33.33%;
    }
  }
}

@media (min-width: 768px) {
  .page-catalog__product-wrapper-text {
    padding-left: 20px;
  }
}

.page-catalog__product-title {
  margin-bottom: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1200px) {
    color: #ffffff;
  }
}

.page-catalog__product-text {
  margin-top: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;

  @media (min-width: 768px) {
    margin: 0;
  }

  @media (min-width: 1200px) {
    color: #ffffff;
  }
}

.page-catalog-like {
  fill: #000000;
  opacity: 0.3;

  @media (min-width: 1200px) {
    fill: #ffffff;
    opacity: 1;
  }
}

.page-catalog__product-like-number {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-right: 20px;
}

.page-catalog__product-number {
  padding-left: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: 768px) {
    padding: 0 0 0 10px;
  }

  @media (min-width: 1200px) {
    color: #ffffff;
  }
}

.page-catalog__doubts-button {
  position: absolute;
  content: "";
  width: 49px;
  height: 58px;
  border: none;
  background-color: transparent;

  @media (min-width: 768px) {
    width: 60px;
  }
}

.page-catalog__doubts-video {
  @media (min-width: 768px) {
    width: 648px;
    min-height: 500px;
  }

  @media (min-width: 1200px) {
    width: 800px;
  }
}

.page-catalog__product__image-big {
  display: block;
  object-fit: cover;
  width: 100%;

  @media (min-width: 768px) {
    min-height: 400px;
  }
}

.page-catalog__product__image {
  display: block;
  object-fit: cover;
  width: 100%;

  @media (min-width: 768px) {
    max-height: 267px;
  }
}

.page-catalog__doubts-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
