.page-main__groop-block-wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  @media (min-width: 1200px) {
    padding-top: 0;
  }
}

.page-main__groop-label-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 767px) {
    justify-content: flex-start;
  }

  @media (min-width: 768px) {
    padding-top: 36px;
  }

  @media (min-width: 1200px) {
    padding: 70px 12px 0 95px;
  }
}

.page-main__groop-label-wrapper--visited {
  @media (min-width: 1200px) {
    padding: 70px 0 20px;
  }
}

.page-main__groop-label-wrapper--impression {
  @media (min-width: 768px) {
    max-width: 596px;
    justify-content: flex-start;
    padding-top: 36px;
  }

  @media (min-width: 1200px) {
    min-width: 960px;
    padding: 54px 0 0 85px;
  }
}

@media (min-width: 768px) {
  .page-main__groop-line {
    position: relative;
    width: 42%;
  }

  .page-main__groop-line::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    top: 50%;
    left: 115%;
    background-color: #dbdbdb;

    @media (min-width: 1200px) {
      width: 62%;
      left: 94%;
    }
  }

  .page-main__groop-line::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 1px;
    top: 50%;
    right: 115%;
    background-color: #dbdbdb;

    @media (min-width: 1200px) {
      width: 62%;
      right: 94%;
    }
  }
}

.page-main__groop-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 20px 39px;
  box-sizing: border-box;

  @media (min-width: 768px) {
    border-bottom: none;
    padding: 24px 60px 25px;
  }

  @media (min-width: 1200px) {
    padding-top: 30px;
  }
}

.page-main__groop-content--emotions {
  @media (min-width: 768px) {
    padding-top: 12px;
    padding-bottom: 36px;
  }

  @media (min-width: 1200px) {
    padding-top: 37px;
  }
}

.page-main__groop-content--visited {
  @media (max-width: 767px) {
    padding: 24px 20px 0;
  }

  @media (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 5px;
  }

  @media (min-width: 1200px) {
    padding-top: 22px;
  }
}

.page-main__groop-content--contact-info {
  @media (max-width: 767px) {
    padding: 22px 20px;
  }
}

.page-main__groop-content--impression {
  @media (max-width: 767px) {
    padding: 23px 20px 0;
  }
}

.page-main__groop-content--full-name,
.page-main__groop-content--contact-info {
  @media (min-width: 768px) {
    width: 45%;
    padding: 0 42px 72px 21px;
    margin-top: 72px;
    margin-bottom: 40px;
  }

  @media (min-width: 1200px) {
    margin-top: 58px;
    margin-bottom: 32px;
    padding: 0 95px 0 44px;
  }
}

.page-main__groop-content--full-name {
  @media (min-width: 768px) {
    border-right: 1px solid #dbdbdb;
    padding: 0 43px 14px 20px;
    margin-bottom: 26px;
  }

  @media (min-width: 1200px) {
    margin-left: 27px;
    padding: 0 0 15px 47px;
  }
}

.page-main__groop-title {
  min-width: 240px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  margin: 24px auto;

  @media (min-width: 768px) {
    font-size: 21px;
  }
}

.page-main__groop-title--emotions {
  margin: 0 auto;
  padding: 0 0 18px;

  @media (min-width: 768px) {
    padding: 0;
  }
}

.page-main__groop-control-emotions--textarea {
  padding-bottom: 7px;
}

.page-main__groop-title--visited {
  margin: 0 auto;

  @media (max-width: 767px) {
    padding-bottom: 29px;
  }

  @media (min-width: 1200px) {
    padding: 0 25px;
  }
}

.page-main__groop-title--impression {
  margin: 0 auto;
  padding-bottom: 29px;

  @media (min-width: 768px) {
    padding-bottom: 0;
  }
}

.page-main__groop-control-impression--positive {
  padding-bottom: 4px;
  padding-left: 10px;
}

.page-main__groop-control-impression--negative {
  padding-bottom: 4px;
  padding-left: 10px;

  @media (min-width: 1200px) {
    padding-left: 25px;
  }
}

.page-main__groop-control-impression--dont-know {
  padding-bottom: 4px;
  padding-left: 10px;

  @media (min-width: 1200px) {
    padding-left: 28px;
  }
}

.page-main__groop-title--info {
  margin: 0 auto;
  padding-bottom: 21px;

  @media (min-width: 768px) {
    padding: 0 4px 28px;
  }

  @media (min-width: 1200px) {
    padding: 0 54px 28px 22px;
  }
}

.page-main__groop-control-info--phone {
  padding-bottom: 15px;
}

.page-main__groop-control-info--email {
  padding-bottom: 15px;
}

.page-main__groop-title--full-name {
  margin: 0 auto;
  padding: 0 0 20px;

  @media (min-width: 768px) {
    padding: 0 41px 20px;
  }
}

.page-main__groop-text,
.page-main__groop-text-info {
  display: block;
  width: 240px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin-left: 16px;
}

.page-main__groop-text-info {
  @media (min-width: 768px) {
    padding: 0 23px 0;
  }

  @media (min-width: 1200px) {
    padding: 0 18px 0;
  }
}

.page-main__groop-text-impression,
.page-main__groop-text-visited {
  width: 187px;
  padding-left: 60px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;

  @media (min-width: 768px) {
    padding-left: 68px;
  }
}

@media (min-width: 768px) {
  .page-main__groop-text-visited--park {
    padding-left: 58px;
  }
}

@media (min-width: 768px) {
  .page-main__groop-text-visited--bridge {
    padding-left: 58px;
  }
}

.page-main__groop-control,
.page-main__groop-control-info {
  width: 100%;
}

.page-main__groop-control--name {
  padding-bottom: 15px;

  @media (min-width: 768px) {
    padding: 7px 0 16px;
  }
}

.page-main__groop-control--surname {
  padding-bottom: 17px;
}

.page-main__groop-input {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  background: #f2f2f2;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;

  &:hover {
    background: #e5e5e5;
  }

  &:focus {
    background: #ffffff;
    box-shadow: 0 0 1px 4px #e5e5e5;
    outline: none;
  }

  @media (min-width: 1200px) {
    width: 430px;
  }
}

.page-main__groop-input-info-phone {
  width: 100%;
  padding: 16px 73px 16px 16px;
  box-sizing: border-box;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #f2f2f2 url("../img/phone.svg") no-repeat right;
  border: none;

  &:hover {
    background: #e5e5e5 url("../img/phone.svg") no-repeat right;
  }

  &:focus {
    background: #ffffff url("../img/phone.svg") no-repeat right;
    box-shadow: 0 0 1px 4px #e5e5e5;
    outline: none;
  }

  @media (min-width: 768px) {
    padding: 16px 65px 16px 18px;
    margin: 0 21px;
  }
}

.page-main__groop-input-info-phone::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.page-main__groop-input-info-email {
  width: 100%;
  padding: 16px 73px 16px 16px;
  box-sizing: border-box;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #f2f2f2 url("../img/email.svg") no-repeat center right;
  border: none;

  &:hover {
    background: #e5e5e5 url("../img/email.svg") no-repeat center right;
  }

  &:focus {
    background: #ffffff url("../img/email.svg") no-repeat center right;
    box-shadow: 0 0 1px 4px #e5e5e5;
    outline: none;
  }

  @media (min-width: 768px) {
    padding: 16px 65px 16px 18px;
    margin: 0 21px;
  }
}

.page-main__groop-input-info-email::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

//radio кнопки начало

.page-main__groop-input-impression {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.page-main__groop-control-impression {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  width: 280px;
}

.page-main__groop-mark-impression {
  position: absolute;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 50%;

  &:hover {
    background: #e5e5e5;
  }

  &:active {
    background: #d5d5d5;
  }
}

.page-main__groop-input-impression:checked + .page-main__groop-mark-impression {
  background-image: url("../img/radio-click.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-main__groop-input-impression:focus + .page-main__groop-mark-impression {
  background: #e5e5e5;
}

.page-main__groop-input-impression:checked:focus + .page-main__groop-mark-impression {
  background: #e5e5e5;
  background-image: url("../img/radio-click-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-main__groop-input-impression:disabled + .page-main__groop-mark-impression {
  background: #d5d5d5;
}

.page-main__groop-input-impression:checked:disabled + .page-main__groop-mark-impression {
  background: #d5d5d5;
  background-image: url("../img/radio-click-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

//radio кнопки конец
//checkbox начало

.page-main__groop-input-visited {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);

  &:hover {
    background: #e5e5e5;
  }

  &:active {
    background: rgba(51, 51, 51, 0.3);
  }
}

.page-main__groop-control-visited {
  display: flex;
  align-items: center;
  width: 245px;
  margin-bottom: 32px;
}

.page-main__groop-control-visited--bell {
  padding-bottom: 4px;

  @media (min-width: 768px) {
    width: 225px;
  }

  @media (min-width: 1200px) {
    width: 176px;
    padding: 0;
  }
}

.page-main__groop-control-visited--bridge {
  padding-bottom: 4px;

  @media (min-width: 768px) {
    width: 251px;
  }

  @media (min-width: 1200px) {
    width: 170px;
    padding-right: 68px;
  }
}

.page-main__groop-control-visited--park {
  padding-bottom: 4px;

  @media (min-width: 768px) {
    width: 251px;
  }

  @media (min-width: 1200px) {
    width: 170px;
    padding-left: 61px;
  }
}

.page-main__groop-control-visited--rocks {
  padding-bottom: 4px;

  @media (min-width: 768px) {
    width: 225px;
  }

  @media (min-width: 1200px) {
    width: 190px;
    padding-left: 42px;
  }
}

.page-main__groop-mark-visited {
  position: absolute;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 4px;

  &:hover {
    background: #e5e5e5;
  }

  &:active {
    background: #d5d5d5;
  }
}

.page-main__groop-input-visited:checked + .page-main__groop-mark-visited {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-main__groop-input-visited:focus + .page-main__groop-mark-visited {
  background: #e5e5e5;
}

.page-main__groop-input-visited:checked:focus + .page-main__groop-mark-visited {
  background: #e5e5e5;
  background-image: url("../img/tick-disabled.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-main__groop-input-visited:disabled + .page-main__groop-mark-visited {
  background: #d5d5d5;
}

.page-main__groop-input-visited:checked:disabled + .page-main__groop-mark-visited {
  background: #d5d5d5;
  background-image: url("../img/tick-disabled.svg");
  background-repeat: no-repeat;
  background-position: center;
}

//checkbox конец

.page-main__groop-control-emotions {
  width: 100%;
  margin-bottom: 41px;
  text-align: center;

  @media (min-width: 768px) {
    margin-top: 28px;
    margin-bottom: 34px;
  }
}

.page-main__groop-textarea-emotions {
  width: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  box-sizing: border-box;
  padding: 16px;
  background: #f2f2f2;
  color: #000000;
  resize: vertical;
  border: none;
  min-height: 150px;

  @media (min-width: 768px) {
    min-height: 160px;
    max-width: 768px;
  }
}

@media (min-width: 768px) {
  .page-main__groop-text-emotions-block-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 768px;
  }
}

.page-main__groop-submit-emotions {
  text-decoration: none;
  background: #81b3d2;
  border: none;
  color: #ffffff;
  box-sizing: border-box;
  padding: 18px 34px 13px 32px;
  min-width: 281px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 3px;

  &:hover {
    background: #669ec0;
  }

  &:active {
    background: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background: #e5e5e5;
    color: #ffffff;
  }

  @media (min-width: 768px) {
    padding: 18px 77px 13px 65px;
  }

  @media (min-width: 1200px) {
    padding: 19px 108px 13px 94px;
  }
}

.page-main__groop-text-emotions {
  text-align: end;
  display: block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: 768px) {
    font-size: 14px;
    color: #333333;
  }
}

.page-main__review-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 40px 20px 20px;

  @media (min-width: 768px) {
    font-size: 30px;
    padding: 64px 64px 22px;
  }

  @media (min-width: 1200px) {
    padding-top: 22px;
  }
}

.page-main__review-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  margin: 0;

  @media (min-width: 768px) {
    padding: 0 166px;
    line-height: 24px;
  }

  @media (min-width: 1200px) {
    padding: 8px 380px;
  }
}
