.page-main__groop-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 20px 39px;
}

.page-main__groop-title {
  width: 240px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.page-main__groop-text,
.page-main__groop-text-info {
  display: block;
  width: 240px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin-left: 16px;
}

.page-main__groop-text-impression,
.page-main__groop-text-visited {
  width: 218px;
  padding-left: 66px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.page-main__groop-input {
  width: 280px;
  padding: 16px;
  box-sizing: border-box;
  background: #f2f2f2;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.page-main__groop-input-info-phone {
  width: 280px;
  padding: 16px 73px 16px 16px;
  box-sizing: border-box;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #f2f2f2 url("./img/phone.svg") no-repeat right;
}

.page-main__groop-input-info-phone::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.page-main__groop-input-info-email {
  width: 280px;
  padding: 16px 73px 16px 16px;
  box-sizing: border-box;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  background: #f2f2f2 url("./img/email.svg") no-repeat center right;
}

.page-main__groop-input-info-email::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

//radio кнопки начало

.page-main__groop-input-impression {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.page-main__groop-control-impression {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 32px;
}

.page-main__groop-mark-impression {
  position: absolute;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 50%;
}

.page-main__groop-input-impression:checked + .page-main__groop-mark-impression {
  background-image: url("./img/radio-click.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-main__groop-input-impression:focus + .page-main__groop-mark-impression {
  background: #e5e5e5;
}

.page-main__groop-input-impression:checked:focus + .page-main__groop-mark-impression {
  background: #e5e5e5;
  background-image: url("./img/radio-click.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-main__groop-input-impression:disabled + .page-main__groop-mark-impression {
  background: #d5d5d5;
}

.page-main__groop-input-impression:checked:disabled + .page-main__groop-mark-impression {
  background: #d5d5d5;
  background-image: url("./img/radio-click-off.svg");
  background-repeat: no-repeat;
  background-position: center;
}

//radio кнопки конец
//checkbox начало

.page-main__groop-input-visited {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.page-main__groop-control-visited {
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 32px;
}

.page-main__groop-mark-visited {
  position: absolute;
  width: 46px;
  height: 46px;
  background: #f2f2f2;
  border-radius: 4px;
}

.page-main__groop-input-visited:checked + .page-main__groop-mark-visited {
  background-image: url("./img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-main__groop-input-visited:focus + .page-main__groop-mark-visited {
  background: #e5e5e5;
}

.page-main__groop-input-visited:checked:focus + .page-main__groop-mark-visited {
  background: #e5e5e5;
  background-image: url("./img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.page-main__groop-input-visited:disabled + .page-main__groop-mark-visited {
  background: #d5d5d5;
}

.page-main__groop-input-visited:checked:disabled + .page-main__groop-mark-visited {
  background: #d5d5d5;
  background-image: url("./img/tick-disabled.svg");
  background-repeat: no-repeat;
  background-position: center;
}

//checkbox конец

.page-main__groop-textarea-emotions {
  width: 279px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  box-sizing: border-box;
  padding: 16px;
  min-height: 150px;
  background: #f2f2f2;
  color: rgba(0, 0, 0, 0.3);
}

.page-main__groop-submit-emotions {
  text-decoration: none;
  background: #81b3d2;
  border: none;
  color: #ffffff;
  box-sizing: border-box;
  padding: 18px 34px 13px 32px;
  width: 281px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.page-main__groop-text-emotions {
  width: 137px;
  margin-left: 166px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
}
