.review {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 158px;
  margin: 0 auto;
  background-image: url("../img/back-form.jpg") no-repeat bottom;
  background-size: cover;
  background-color: #5f3205;

  @media (max-width: 767px) {
    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/back-form@2.jpg");
    }
  }

  @media (min-width: 768px) {
    background: url("../img/back-tablet.jpg") no-repeat bottom;
    background-size: cover;
    min-height: 290px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/back-form-tablet@2.jpg");
      background-size: cover;
    }
  }

  @media (min-width: 1200px) {
    background: url("../img/back-desktop.jpg") no-repeat bottom;
    background-size: cover;
    min-height: 301px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/retina/back-form-desktop@2.jpg");
      background-size: cover;
    }
  }
}

.review__next {
  position: relative;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 100%;
    border: none;
  }
}

.review__next::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 57px;
  left: 0;
  right: 0;
  top: -56px;
  margin: auto;
  background-image: url("../img/intro-triangle.svg");
  background-position: center;
}

.review__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.review__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  @media (min-width: 768px) {
    padding: 0 166px;
  }
}
